.label {
    -fx-text-fill: red;
}

#myLabel {
    -fx-text-fill: #00f;
}

#box {
    background-color: black;
    -fx-background-color: black;
}

.button:hover {
    background-color: red;
    font-stretch: extra-condensed;
    font-weight: bolder;
    font-size: x-large;
    text-decoration-style: wavy;
    color: black;
    -fx-background-color: red;
    -fx-font-stretch: extra-condensed;
    -fx-font-weight: bolder;
    -fx-font-size: x-large;
    -fx-text-decoration-style: wavy;
    -fx-color: black;
}

.button {
    background-color: gray;
    font-stretch: extra-condensed;
    font-weight: bolder;
    font-size: x-large;
    animation: pulse 5s infinite;
    text-decoration: underline overline;
    text-decoration-style: wavy;
    color: red;
    -fx-background-color: gray;
    -fx-font-stretch: extra-condensed;
    -fx-font-weight: bolder;
    -fx-font-size: x-large;
    -fx-animation: pulse 5s infinite;
    -fx-text-decoration: underline overline;
    -fx-text-decoration-style: wavy;
    -fx-color: red;
}

#score {
    fill: beige;
    -fx-fill: beige;
}