.label {
    -fx-text-fill: red;
}

#myLabel {
    -fx-text-fill: #00f;
}

#box {
    background-color: #82a43a;
    -fx-background-color: #82a43a;
}

.button {
    background-color: #893AA4;
    font-stretch: extra-condensed;
    font-weight: bolder;
    font-size: x-large;
    text-decoration-style: wavy;
    text-decoration-color: beige;
    -fx-background-color: #893AA4;
    -fx-font-stretch: extra-condensed;
    -fx-font-weight: bolder;
    -fx-font-size: x-large;
    -fx-text-decoration-style: wavy;
    -fx-text-decoration-color: beige;
}

.button:hover {
    background-color: #893AA4;
    font-stretch: extra-condensed;
    font-weight: bolder;
    font-size: x-large;
    animation: pulse 5s infinite;
    text-decoration: underline overline;
    text-decoration-style: wavy;
    text-decoration-color: beige;
    -fx-background-color: green;
    -fx-font-stretch: extra-condensed;
    -fx-font-weight: bolder;
    -fx-font-size: x-large;
    -fx-animation: pulse 5s infinite;
    -fx-text-decoration: underline overline;
    -fx-text-decoration-style: wavy;
    -fx-text-decoration-color: beige;
}

